<form class="form" name="formUpload" ng-submit="upload()">
	<div class="panel panel-default col-md-5">
		<div class="panel-body">
			<div class="upload">
				<div class="file-preview">
					<span class="glyphicon glyphicon-picture no-image"></span>
				</div>

				
			</div>
		</div>
	</div>

	<div class="col-md-2"><span class="glyphicon glyphicon-remove" style="display: block;text-align: center;font-size: 60px;margin-top: 70px;margin-left: 5px;margin-bottom: 70px"></span></div>

	<div class="panel panel-default col-md-5">
		<div class="panel-body">
			<div class="upload">
				<div class="file-preview"></div>
			</div>
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="col-md-6">
			<button type="button" class="btn btn-danger col-md-12">Rejeitar</button>
		</div>
		
		<div class="col-md-6">
			<button type="button" class="btn btn-success col-md-12">Aprovar</button>
		</div>
	</div>
</form>